@using MVC_Group7_demo_BLL.ModelVM
@model ResetPasswordVM

@{
    Layout = "/Views/Shared/newLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        LogIn
    </div>
    <div class="card-body">
        <form asp-controller="Account" asp-action="ResetPasswordAction" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>

            <input asp-for="Token" type="hidden" />
            <input asp-for="Email" type="hidden" />

            <div class="mb-3">
                <label for="NewPassword" class="form-label">New Password</label>
                <input asp-for="NewPassword" class="form-control" id="NewPassword" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label for="ConfirmNewPassword" class="form-label">Confirm New Password</label>
                <input asp-for="ConfirmNewPassword" class="form-control" id="ConfirmNewPassword" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="Product" asp-action="GetAll" class="btn btn-secondary">Back</a>
        </form>
    </div>
</div>
